header,
body {
    font-family: Arial, Helvetica, sans-serif;
    display:block;
}

header {
    background-color:rgba(154, 150, 201, 0.945);
    /* margin-bottom:100px; */
}

body {
    background-color: rgba(185, 180, 238, 0.945);
}

.header-block{
    /* display: block; */
    width:50%;
    height:75px;
    background-color:rgba(154, 150, 201, 0.945);
}

.float-left{
    float: left;
}

.float-right {
    float: right;
}

#main-text {
    display:block;
    position:relative;
    top:150px;
    height:auto;

    /* margin-top:150px; */
    border:0px solid black;
}

.center {
    width:50%;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}

button {
    margin: 3px;
    display: block;
}