header,
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(185, 180, 238, 0.945);
}

.header-block{
    display: inline;
    width:50%;
    height:75px;
}

#hiscores {
    float: left;
}

#timer {
    float: right;
}